@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');

body {
    font-family: 'Cardo', serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #39566A;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.sidebar {
    flex: 0 0 150px;
    margin-right: 20px;
}

.main-content {
    flex: 1;
}

h1 {
    color: #39566A;
    font-weight: 700;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #39566A;
    font-weight: bold;
}

.profile-pic {
    position: relative; /* Ensure the container is positioned relative */
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.profile-pic img {
    position: absolute; /* Positioning the images absolutely */
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    transition: opacity 0.3s ease-in-out;
}

.profile-pic .hover-image {
    opacity: 0; /* Initially hidden */
}

.profile-pic:hover .hover-image {
    opacity: 1; /* Display on hover */
}

a {
    color: #807C38;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 0.9em;
    line-height: 1.4;
    text-align: left;
}

.contact-info a {
    display: block;
    margin: 5px 0;
    text-align: left;
}

.content {
    text-align: left;
}

.publication {
    margin: 20px 0;
}

.publication h2 {
    font-size: 1.1em;
    color: #39566A;
    font-weight: 700;
    margin: 10px 0 5px;
}

.publication p {
    font-size: 0.9em;
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    font-size: 0.8em;
    color: #807C38;
    width: 100%;
    margin-top: auto;
}
